<div class="body">
    <div ng-controller="myBusStopCtrl" class="table-responsive" style="max-width:800px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Station info: Lysaker</h2> 
            </div>
            <div class="panel-body table-responsive">
                <table width="100%">
                <tr>
                    <td><h3>Filter: 
                        <div class="btn-group">
                            <label class="btn btn-primary" ng-model="typeModel.Train" btn-checkbox><img src="assets/icons/train20.svg" width="20px" height="20px"></label>
                            <label class="btn btn-primary" ng-model="typeModel.Bus" btn-checkbox><img src="assets/icons/front15.svg" width="20px" height="20px"></label>
                            <label class="btn btn-primary" ng-model="typeModel.Boat" btn-checkbox><img src="assets/icons/ship12.svg" width="20px" height="20px"></label>
                        </div>
                    </h3>
                    </td>
                    <td class="text-right">UpdateTime: {{updateTime | hourMinutesSeconds}}</td> 
                </tr>
            </table>
            </div>
            <table class="table table-striped" ng-show="realTimeData.length > 0">
                <thead>
                    <tr class="info">
                        <th></th>
                        <th>Line#</th>
                        <th>Scheduled</th>
                        <th>Destination</th>
                        <th>Departure</th> 
                        <th>Delay</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <div >
                        <tr ng-repeat="item in realTimeData | filter:rtFilter" ng-class="getRowClass(item)">
                            <th><img ng-src="{{getRowImage(item)}}" width="25px" height="25px"></img></th>
                            <td>{{item.PublishedLineName}}</td>
                            <td>{{item.AimedDepartureTime | hourMinutes}}</td>
                            <td>{{item.DestinationName}}</td>
                            <td>{{item.ExpectedDepartureTime | fromNow }} ({{item.ExpectedDepartureTime | hourMinutesSeconds}})</td>            
                            <td>{{item.Delay | isoInterval}}</td>
                            <td><span ></span>
                                <button ng-show="getDeviationsSymbol(item)" ng-class="getDeviationsSymbol(item)" popover="{{getDevitationsText(item)}}" class="btn btn-info btn-sm"></button>
                            </td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
    </div>
    <div>Icons made by Freepik, Google from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>         is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
</div>

