<div class="body">
  <h1>Ruter demo</h1>



<div ng-controller="myBusStopCtrl" class="table-responsive" style="max-width:800px;">
  <p class="lead">
    Station info: {{currentStation.name}}
  </p>
  <select ng-model="currentStation" ng-options="station.name for station in stations" ng-change="getRealTimeData()"></select><br>
UpdateTime: {{updateTime | hourMinutesSeconds}}
    <table class="table table-striped" ng-show="realTimeData.length>0">
        <thead>
            <tr class="info">
            <th>Train#</th>
            <th>Scheduled</th>
            <th>Destination</th>
            <th>Departure</th> 
            <th>Delay</th>
            <th>Deviation</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in realTimeData">
                <td>{{item.PublishedLineName}}</td>
                <td>{{item.AimedDepartureTime | hourMinutes}}</td>
                <td>{{item.DestinationName}}</td>
                <td>{{item.ExpectedDepartureTime | fromNow }}</td>            
                <td>{{item.Delay | isoInterval}}</td>
                <td>{{item.Extensions.Deviations | deviations}}</td>
            </tr>
        </tbody>
    </table>

</div>


